@{
    ViewData["Title"] = "Main Page";
}


<div class="tab-content" id="nav-tabContent">

  <div class="tab-pane fade show active" id="nav-airport" role="tabpanel" aria-labelledby="nav-airport-tab">
      <div class="text-center pt-4">
<form>
  <div class="form-row">

    <div class="col-sm-1 my-3">
      <label class="" for="ApiKey">کلید api</label>
    </div>

    <div class="col-sm-10 my-2">
      <input type="text" class="form-control" id="ApiKey" placeholder="XXX-XXX-XXX" aria-describedby="Help">
      <small id="Help" class="form-text text-muted text-right mr-2">این یک متن کمکی است.</small>
    </div>
    
    <div class="col-sm-1 my-2">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </div>
</form>
</div>

<div class="pt-5"></div>

<div class="pt-5">
<table class="table table-hover">
  
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">مقدار داده شده</th>
    </tr>
  </thead>
  
  <tbody>

    <tr>
      <th scope="row">1</th>
      <td>65165165132416123</td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td>98646415196846511</td>
    </tr>

    <tr>
      <th scope="row">3</th>
      <td>19658516844151896</td>
    </tr>

  </tbody>

</table>
</div>
  </div>

  

  <div class="tab-pane fade" id="nav-harbor" role="tabpanel" aria-labelledby="nav-harbor-tab">

  </div>

</div>


