@{
    ViewData["Title"] = "Main Page";
}


<div class="d-flex flex-wrap bd-highlight justify-content-center mb-3">

    <div class="p-2 flex-sm-fill bd-highlight" id="1">
        <div class="row p-3 bd-highlight text-center chart-group-selector" style="border: 0px solid rgb(255, 193, 7); opacity: 1; font-size: 14px;">
            <div class="col p-3 my-auto shadow">
                <p class="h4">تعداد پرواز</p>
                <p class="h2 text-primary" style="">22</p>

                <div class="row">
                    <div class="col border-left border-dark">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">ورودی داخلی</div>
                            <div class="p-2 flex-shrink-1 bd-highlight text-info">26</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">ورودی بین المللی</div>
                            <div class="p-2 flex-shrink-1 bd-highlight text-info">1</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col border-left border-dark">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">خروجی داخلی</div>
                            <div class="p-2 flex-shrink-1 bd-highlight text-info">27</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">خروجی بین المللی</div>
                            <div class="p-2 flex-shrink-1 bd-highlight text-info">0</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="p-2 flex-sm-fill bd-highlight" id="2">
        <div class="row p-3 bd-highlight text-center chart-group-selector" style="border: 0px solid rgb(255, 193, 7); opacity: 1; font-size: 14px;">
            <div class="col p-3 my-auto shadow">
                <p class="h4">تعداد پرواز</p>
                <p class="h2 text-primary" style="">22</p>

                <div class="row">
                    <div class="col border-left border-dark">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">ورودی داخلی</div>
                            <div class="p-2 flex-shrink-1 bd-highlight text-info">26</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">ورودی بین المللی</div>
                            <div class="p-2 flex-shrink-1 bd-highlight text-info">1</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col border-left border-dark">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">خروجی داخلی</div>
                            <div class="p-2 flex-shrink-1 bd-highlight text-info">27</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">خروجی بین المللی</div>
                            <div class="p-2 flex-shrink-1 bd-highlight text-info">0</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="p-2 flex-sm-fill bd-highlight" id="3">
        <div class="row p-3 bd-highlight text-center chart-group-selector" style="border: 0px solid rgb(255, 193, 7); opacity: 1; font-size: 14px;">
            <div class="col p-3 my-auto shadow">
                <p class="h4">تعداد پرواز</p>
                <p class="h2 text-primary" style="">22</p>

                <div class="row">
                    <div class="col border-left border-dark">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">ورودی داخلی</div>
                            <div class="p-2 flex-shrink-1 bd-highlight text-info">26</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">ورودی بین المللی</div>
                            <div class="p-2 flex-shrink-1 bd-highlight text-info">1</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col border-left border-dark">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">خروجی داخلی</div>
                            <div class="p-2 flex-shrink-1 bd-highlight text-info">27</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">خروجی بین المللی</div>
                            <div class="p-2 flex-shrink-1 bd-highlight text-info">0</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>



<div class="d-flex flex-wrap bd-highlight justify-content-center mb-3">

    <div class="p-2 flex-sm-fill bd-highlight chart-group-selector" id="4">
        <div class="row p-3 m-2 bd-highlight shadow text-center">
            <div class="col my-auto">
                <p class="h4">تعداد پرواز</p>
                <p class="h2 text-primary">53</p>

                <div class="row">
                    <div class="col border-left border-dark">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">ورودی داخلی</div>
                            <div class="p-2 flex-shrink-1 bd-highlight text-info">26</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">ورودی بین المللی</div>
                            <div class="p-2 flex-shrink-1 bd-highlight text-info">1</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col border-left border-dark">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">خروجی داخلی</div>
                            <div class="p-2 flex-shrink-1 bd-highlight text-info">27</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">خروجی بین المللی</div>
                            <div class="p-2 flex-shrink-1 bd-highlight text-info">0</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="p-2 flex-sm-fill bd-highlight chart-group-selector" id="5">
        <div class="row p-3 m-2 bd-highlight shadow text-center">
            <div class="col my-auto">
                <p class="h4">تعداد پرواز</p>
                <p class="h2 text-primary">53</p>

                <div class="row">
                    <div class="col border-left border-dark">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">ورودی داخلی</div>
                            <div class="p-2 flex-shrink-1 bd-highlight text-info">26</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">ورودی بین المللی</div>
                            <div class="p-2 flex-shrink-1 bd-highlight text-info">1</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col border-left border-dark">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">خروجی داخلی</div>
                            <div class="p-2 flex-shrink-1 bd-highlight text-info">27</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">خروجی بین المللی</div>
                            <div class="p-2 flex-shrink-1 bd-highlight text-info">0</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>



<div class="row my-5"></div>



<div class="chart-group" id="tab-1">content 1</div>
<div class="chart-group" id="tab-2">content 2</div>
<div class="chart-group" id="tab-3">content 3</div>
<div class="chart-group" id="tab-4">content 4</div>
<div class="chart-group" id="tab-5">content 5</div>

<style>
    /*Hover Effects*/
    .chart-group-selector {
        transition: all .7s ease-in-out;
    }

        .chart-group-selector:hover {
            transform: scale(1.1);
        }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    // Hide all groups
    $(".chart-group").each(function (index) {
        $(this).hide();
    });

    $(document).ready(function () {

        $(".chart-group-selector").click(function () {
            // Fade different groups
            $('#tab-' + $(this).attr('id')).fadeToggle();

            // Update Animation
            $(this).find(".shadow").first().fadeTo("slow", 0.5).css({ border: '0 solid #ffc107' }).animate({ fontSize: "1.1rem", opacity: 1, borderWidth: 9 }, 2000);
            $(this).find("p.h2.text-primary").fadeOut().text("22").fadeIn();
            $(this).find(".shadow").first().delay(5000).css({ border: '0 solid #ffc107' }).animate({ fontSize: "14px", borderWidth: 0 }, 1000);
        });

        $("select.dates").change(function () {
            if ($("select option:selected").val() == "4") {
                $("input[name='customDateInputs']").each(function (index) {
                    $(this).prop('disabled', function (i, v) { return !v; });
                });
            } else {
                $("input[name='customDateInputs']").prop('disabled', true);
            }
        });

    });
</script>




<div class="text-center col-sm-10 pt-4">
    <form>
        <div class="form-row">

            <div class="col-sm-1 my-3">
                <label class="" for="ApiKey">کلید api</label>
            </div>

            <div class="col-sm-10 my-2">
                <input type="text" class="form-control" id="ApiKey" placeholder="XXX-XXX-XXX" aria-describedby="Help">
                <small id="Help" class="form-text text-muted text-right mr-2">این یک متن کمکی است.</small>
            </div>

            <div class="col-sm-1 my-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </div>
    </form>
</div>


<div class="pt-5"></div>


<div class="pt-5">
    <table class="table table-hover">

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">مقدار داده شده</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <th scope="row">1</th>
                <td>65165165132416123</td>
            </tr>

            <tr>
                <th scope="row">2</th>
                <td>98646415196846511</td>
            </tr>

            <tr>
                <th scope="row">3</th>
                <td>19658516844151896</td>
            </tr>

        </tbody>

    </table>
</div>


